$primary: #7e0772;
$primary-drk: #5f0a56;
$secondary: #13b351;
$red: #eb4335;
$text-white: #FDFDFD;


// Natural Colours
$g-50: #b8b8b8;
$g-100: #999999;
$g-200: #888888;
$g-300: #777777;
$g-400: #666666;
$g-500: #555555;
$g-600: #444444;
$g-700: #333333;
$g-800: #222222;
$g-900: #111111;
$dark: #8e8c8c;
$black: #242424;
$white: #ffffff;
