@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static//Inter-Regular.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/manrope/static//Manrope-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* scrollbar styling */
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7e0772;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    /* custom radio button */
    .radio-label {
        position: relative;
        height: 18px;
        width: 18px;
        border-radius: 2px;
        border: 1px solid #7e0772;
        cursor: pointer;
        /* overflow: hidden; */
    }
    .radio-label input[type="radio"] {
        visibility: hidden;
    }
    .radio-input-span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        background-color: #fff;
        /* overflow: hidden; */
    }
    .radio-label input:checked ~ .radio-input-span {
        background-color: #7e0772;
    }
    .radio-input-span::before {
        content: "";
        position: absolute;
        bottom: 3px;
        width: 8px;
        height: 14px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        display: none;
    }
    .radio-label input:checked ~ .radio-input-span::before {
        display: block;
    }

    /* For Chrome, Safari, and other WebKit-based browsers */
    input[type="number"] {
        -webkit-appearance: textfield;
    }

    /* Remove the inner spinner */
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Remove the outer spinner (for Firefox) */
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* .backdrop {
        filter: blur(5px) grayscale(50%);
        -webkit-filter: blur(5px) grayscale(50%);
        transform: scale(0.9);
    } */

    /* hero section active default bullet */
    .hero-section-bullet {
        display: none;
    }

    /* loader */
    .loader {
        position: relative;
        width: 55px;
        height: 55px;
        background: #7e0772;
        transform: rotateX(65deg) rotate(45deg);

        /* transform: perspective(200px) rotateX(65deg) rotate(45deg); */
        color: #fff;
        animation: layers1 0.8s linear infinite alternate;
    }
    .loader:after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.7);
        animation: layerTr 0.8s linear infinite alternate;
    }

    @keyframes layers1 {
        0% {
            box-shadow: 0px 0px 0 0px;
        }
        90%,
        100% {
            box-shadow: 20px 20px 0 -4px;
        }
    }
    @keyframes layerTr {
        0% {
            transform: translate(0, 0) scale(1);
        }
        100% {
            transform: translate(-25px, -25px) scale(1);
        }
    }
}
