@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* custom radio button */
    .radio-label {
        position: relative;
        height: 18px;
        width: 18px;
        border-radius: 2px;
        border: 1px solid #7e0772;
        cursor: pointer;
        /* overflow: hidden; */
    }
    .radio-label input[type="radio"] {
        visibility: hidden;
    }
    .radio-input-span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        background-color: #fff;
        /* overflow: hidden; */
    }
    .radio-label input:checked ~ .radio-input-span {
        background-color: #7e0772;
    }
    .radio-input-span::before {
        content: "";
        position: absolute;
        bottom: 3px;
        width: 8px;
        height: 14px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        display: none;
    }
    .radio-label input:checked ~ .radio-input-span::before {
        display: block;
    }
}
