@use "../custom" as *;
@use "./typography" as *;
@use "./mixins" as *;

.form_search_gen {
    position: relative;
    display: flex;
    width: clamp(32.5dvw, 36.4dvw, 40dvw);
    height: clamp(2.25rem, 2.375rem, 3rem);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 12px -14px $black;
    margin: 0.5rem auto;

    @include responsive(mobile) {
        width: clamp(60dvw, 75dvw, 80dvw);
    }
    button {
        margin: 0;
        width: clamp(3.5rem, 3.75rem, 4rem);
        min-width: auto;
        height: inherit;
        border-radius: 0;
        padding: 0.1rem;
    }
    .text-box {
        flex: 1;
        height: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        align-items: center;
        color: $dark;

        &::placeholder {
            color: $dark;
        }
        &:focus-visible {
            outline: none;
        }
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button {
            color: $primary !important;
            background-color: $primary;
        }
    }
}

.form_search_minimal {
    background-color: $accent;
    display: flex;
    align-items: center;
    min-width: clamp(28dvw, 30dvw, 38dvw);
    height: clamp(2.33rem, 2.8125rem, 3.5rem);
    border-radius: 4px;
    overflow: hidden;
    margin: 0.5rem 0;
    padding: 0.25rem;

    button {
        margin: auto 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    input {
        flex: 1;
        background-color: $accent;

        &:focus-visible {
            outline: none;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::placeholder,
        &:-moz-placeholder {
            text-transform: capitalize;
        }
    }
}

.form_chat_box {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 7dvh;
    background-color: $white;
    border: 1px solid rgba($color: $dark, $alpha: 0.5);
    padding: 1.25rem 2.25rem;
    border-radius: 4px;
    align-items: center;

    @include responsive(mobile) {
        padding: 0.66rem 0.75rem;
    }

    .input_icon_group {
        cursor: pointer;
        position: relative;
        display: flex;
        width: 48px;
        height: 48px;
        margin: 4px;

        @include responsive(mobile) {
            width: 32px;
            height: 32px;
        }

        input[type="file"] {
            cursor: pointer;
            z-index: 70;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        button {
            z-index: 69;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            svg {
                width: inherit;
                height: inherit;
            }
        }

        &.submit_btn {
            margin-left: auto;
        }
    }

    .input_field {
        flex: auto;
        height: auto;
        min-height: 3rem;
        max-height: 7rem;
        margin: 0.25rem 0.3rem;
        padding: 0.5rem;
        font-family: "Inter", "Poppins", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: $black;

        &:focus-visible,
        &:focus-within,
        &:focus {
            outline: none;
        }

        ::placeholder {
            color: $dark;
        }
    }
}
