@use "../custom" as *;
@use "./button" as *;
@use "./mixins" as *;

:root {
    body {
        background-color: $white;
    }

    img {
        width: 100%;
    }

    svg {
        width: max-content;
    }

    input[typr="search"]::-webkit-search-cancel-button {
        color: $primary !important;
    }

    .modal_box {
        position: absolute;
        display: none;
        z-index: 90;
        width: max-content;
        background-color: $white;
        padding: clamp(0.75rem, 1.25rem, 2rem);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        box-shadow: 0px 10px 12px -14px $black;
        transition: all 1s ease;

        &.show {
            display: flex !important;
        }

        li {
            gap: 0.25rem;
            margin: 0.4rem 0;
        }
    }

    .modal_backdrop {
        position: absolute;
        z-index: 89;
        opacity: .1;
        backdrop-filter: blur(6px);
        width: 100dvw;
        height: 100dvh;
        top: 0;
        left: 0;

        &.hidden {
            display: none;
        }

        @include responsive(mobile) {
            
        opacity: .8;
        backdrop-filter: blur(2px);
        }
    }

    .col_xxlg {
        @media (max-width: 1536px) {
            @include widthspread;
        }
    }
    .col_xlg {
        @media (max-width: 1280px) {
            @include widthspread;
        }
    }
    .col_lg {
        @media (max-width: 1024px) {
            @include widthspread;
        }
    }
    .col_md {
        @media (max-width: 768px) {
            @include widthspread;
        }
    }
    .col_sm {
        @media (max-width: 640px) {
            @include widthspread;
        }
    }
    .col {
        @include widthspread;
    }

    a.redirect_link {
        color: $primary;
        font-weight: 600;
        line-height: 19px;
        margin: auto 0.5rem;
    }

    .redirect_btn {
        color: $primary;
        font-weight: 600;
        line-height: 19px;
        margin: auto 0.5rem;
    }
}

.otp-input {
    &:focus-visible {
        border: 1px solid $secondary;
        outline-color: $secondary;
    }
}
