@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  font-family: "Poppins", "Inter", "Roboto", sans-serif;
  font-size: 13px;
}

h1 {
  font-size: clamp(2rem, 72px, 4.5rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.5rem, 42px, 2.7rem);
  font-weight: 800;
}

h3 {
  font-size: clamp(1.112rem, 32px, 2rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(0.834rem, 24px, 1.5rem);
  font-weight: 600;
}

h5 {
  font-size: clamp(0.556rem, 16px, 16rem);
  font-weight: 600;
}

.btn {
  cursor: pointer !important;
  display: flex;
  min-width: 120px;
  height: clamp(3rem, 52px, 6rem);
  margin: 1rem 0;
  padding: 0.5rem 20px;
  border-radius: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: clamp(15px, 17px, 1.07rem);
  line-height: 26px;
  background-color: #7e0772 !important;
  color: #ffffff;
  outline: 1px solid #7e0772;
  transition: 1s ease;
}
.btn:focus, .btn:active, .btn:hover, .btn:focus-visible {
  background-color: #5f0a56 !important;
  outline: 1px solid #5f0a56;
  box-shadow: 0px 4px 26px 0px #5f0a56;
}
.btn.btn-rect {
  border-radius: 4px;
}
.btn.btn-light {
  outline: 1px solid #7e0772;
  background-color: #ffffff !important;
  color: #7e0772;
}
.btn.btn-light:focus, .btn.btn-light:active, .btn.btn-light:hover, .btn.btn-light:focus-visible {
  background-color: #7e0772 !important;
  color: #ffffff;
  outline: 1px solid #7e0772;
  box-shadow: 0px 4px 26px 0px #5f0a56;
}
.btn:disabled {
  cursor: not-allowed !important;
  background-color: #8e8c8c !important;
  outline: 1px solid #8e8c8c;
}
.btn:disabled:focus, .btn:disabled:active, .btn:disabled:hover, .btn:disabled:focus-visible {
  box-shadow: 0px 4px 26px 0px #8e8c8c;
}

.auth {
  display: block;
  min-height: 70%;
  padding: 2.5rem 1.5rem;
}
@media (max-width: 1023px) {
  .auth {
    min-height: 50%;
    padding: 2rem 1.5rem;
  }
}
.auth .brand_logo {
  display: block;
  width: clamp(9rem, 10%, 11.25rem);
  height: auto;
  margin-bottom: 3rem;
}
.auth .auth_container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.auth .auth_container .auth_form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.auth .auth_container .auth_form .form_header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.auth .auth_container .auth_form .form_header h2,
.auth .auth_container .auth_form .form_header p {
  width: 70%;
}
.auth .auth_container .auth_form .form_redirect {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
}
.auth .auth_container .auth_img {
  cursor: pointer;
  width: auto;
  max-height: 60dvh;
  margin: auto;
  opacity: 1;
}
@media (min-width: 768px) {
  .auth .auth_container .auth_img {
    padding: 2rem 5%;
  }
}
@media (max-width: 1023px) {
  .auth .auth_container .auth_img {
    display: none;
  }
}

.social_redirect {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}
.social_redirect .social_divider {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #8e8c8c;
}
.social_redirect .social_links {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  align-items: flex-start;
  color: #FDFDFD;
  background-color: #242424;
  gap: 1rem;
}
@media (max-width: 1023px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.footer .footer_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
@media (max-width: 1023px) {
  .footer .footer_item {
    margin-bottom: 1.5rem;
  }
}
.footer .footer_item.search_field {
  flex: 2;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}
.footer .footer_item.search_field h2 {
  text-align: center;
}
.footer .footer_item.search_field .social_list {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.25rem auto;
}
.footer .footer_item.search_field .social_list a {
  width: 24px;
  height: 24px;
}
.footer .footer_item.search_field .social_list a svg {
  width: 100%;
  height: 100%;
}
.footer .footer_item h2 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 24.59px;
}
.footer .footer_credit {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1.25rem;
  color: #FDFDFD;
  font-size: 0.8rem;
  font-family: "Roboto", "Poppins", san-serif;
  line-height: 24px;
}

.header {
  width: 100dvw;
  position: fixed;
  top: 0;
  min-height: 5.25rem;
  z-index: 100;
  backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.2);
}
.header .contact_strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto clamp(1.75rem, 4rem, 20%);
  padding: 0.75rem 1.5rem;
  background-color: #242424;
  color: #FDFDFD;
}
@media (max-width: 1023px) {
  .header .contact_strip {
    flex-wrap: wrap;
    margin: auto clamp(1.5rem, 2rem, 20%);
    padding: 0.5rem 0.75rem;
  }
}
.header .contact_strip div {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  min-width: 10%;
}
@media (max-width: 767px) {
  .header .contact_strip div {
    margin: 0.1rem auto;
    gap: 0.25rem;
  }
  .header .contact_strip div p {
    font-size: 9px;
  }
}
.header .contact_strip div svg {
  width: fit-content;
}
.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.75rem 4rem;
  font-family: "Inter", "Poppins", sans-serif;
}
@media (max-width: 767px) {
  .header .navigation {
    flex-wrap: wrap;
    margin: 0.75rem 2rem;
  }
}
.header .navigation .brand_logo {
  display: block;
  width: clamp(10rem, 20%, 11.25rem);
  height: auto;
}
.header .navigation .nav_link {
  display: flex;
  gap: 3.12rem;
}
@media (max-width: 1023px) {
  .header .navigation .nav_link {
    display: none;
  }
}

.hero {
  position: relative;
  display: flex;
  aspect-ratio: 16/9;
}
@media (max-width: 767px) {
  .hero {
    aspect-ratio: 1/1;
  }
}

.slider_item {
  display: flex;
  aspect-ratio: 16/9;
}
@media (max-width: 767px) {
  .slider_item {
    aspect-ratio: 1/1;
  }
}
.slider_item .bg_img {
  width: 100%;
  display: block;
  position: absolute;
  aspect-ratio: 16/9;
  overflow: hidden;
}
@media (max-width: 767px) {
  .slider_item .bg_img {
    aspect-ratio: 1/1;
  }
}

.slider_indicator {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 0;
  right: 0.5rem;
  gap: 1rem;
  color: rgba(255, 255, 255, 0.25);
}
@media (max-width: 767px) {
  .slider_indicator {
    gap: 1.5rem;
  }
}

.course_card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: #ffffff;
  min-height: 30rem;
  padding-bottom: 1rem;
  overflow: hidden;
}
.course_card .bookmark {
  cursor: pointer;
  position: absolute;
  right: 1.25rem;
  top: -1rem;
  display: flex;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(142, 140, 140, 0.4);
  transition: 1s all ease;
}
.course_card .bookmark:hover {
  box-shadow: 0px 2px 5px rgba(142, 140, 140, 0.8);
}

/*# sourceMappingURL=app.module.css.map */
