:root {
    --clr-primary: #7e0772;
    --clr-primaryDark: #5f0a56;
    --clr-darkGrey: #8e8c8c;
    --clr-green: #13b351;
    --clr-white: #ffffff;
    --clr-black: #242424;
    --clr-red: #eb4335;
}

.slider {
    position: relative;
    background-color: var(--clr-black);
}

.slider-text,
.slider-link {
    position: absolute;
    z-index: 2;
}

.slider-link {
    color: var(--clr-white);
    font-size: 1.1rem;
    letter-spacing: 1px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    margin: 1.5em auto auto 1.5em;
    transition: color 0.3s;
}

.slider-link:is(:hover, :focus-visible) {
    color: var(--clr-green);
}

.slider-text {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--clr-white);
}

.slider-text::before,
.slider-text::after {
    position: absolute;
    color: var(--clr-green);
    font-size: 4rem;
    font-style: oblique;
}

.slider-text::before {
    content: open-quote;
    translate: -100% -50%;
}

.slider-text::after {
    content: close-quote;
}

.swiper-slide {
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

.swiper-slide::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 1;
    background-color: var(--clr-black);
    opacity: 0.4;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    position: relative;
    isolation: isolate;
}

.swiper-pagination-bullet {
    --swiper-pagination-color: var(--clr-white);
    --swiper-pagination-bullet-size: 0.8em;
    --swiper-pagination-bullet-inactive-color: var(--clr-white);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    transition: outline 0.3s;
}

.swiper-pagination-bullet-active {
    outline: 2px solid var(--clr-white);
    outline-offset: 0.25em;
}

.swiper-button-prev,
.swiper-button-next {
    --swiper-navigation-size: 1.2em;
    --swiper-navigation-sides-offset: 1.6em;
    --swiper-navigation-color: var(--clr-primary);
    background-color: var(--clr-white);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    transition: color 0.3s, background-color 0.3s;
}

.swiper-button-prev:is(:hover, :focus-visible),
.swiper-button-next:is(:hover, :focus-visible) {
    --swiper-navigation-color: var(--clr-white);
    background-color: var(--clr-primary);
}
