@use "../custom" as *;
@use "../components/typography" as *;
@use "../components/mixins" as *;

.course {
    position: relative;
    min-height: 50dvh;
    background-color: $bg-white;

    .course_hero {
        position: relative;
        display: flex;
        height: 80dvh;
        overflow: hidden;
        align-items: center;

        @include responsive(mobile) {
            height: 60dvh;
            align-items: flex-end;
        }

        .course_header {
            width: 50%;
            z-index: 12;
            margin: 5%;
            color: $white;

            @include responsive(mobile) {
                width: 100%;
                margin-bottom: 10%;
            }

            h1 {
                font-size: 2.25rem;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: 0.36000001430511475px;
                text-align: left;
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 40px;
                letter-spacing: 0.36000001430511475px;
                text-align: left;
            }

            p {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.36000001430511475px;
                text-align: left;

                span > svg {
                    width: inherit;
                    height: inherit;
                }

                svg {
                    width: 32px;
                    height: 32px;
                    margin-right: 0.5rem;
                }

                div {
                    display: flex;
                    align-items: center;
                    margin-right: 2rem;
                }
            }
        }

        .course_hero_backdrop {
            z-index: 11;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, transparent, $black);
            opacity: 0.9;
            backdrop-filter: blur(0.1px);
        }

        img {
            z-index: 10;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.1);
            width: inherit;
            object-fit: fill;

            @include responsive(mobile) {
                height: auto;
                transform: translate(-50%, -50%) scale(2);
            }
        }
    }

    .course_outline {
        position: relative;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 3rem;
        min-height: 80dvh;
        margin: 3rem 7.5%;

        @include responsive(mobile) {
            gap: 1.5rem;
            grid-template-columns: 1fr;
            margin: 2rem 4%;
        }

        .no_mobile {
            display: block;

            @include responsive(mobile) {
                display: none;
            }
        }

        .no_desktop {
            display: none;

            @include responsive(mobile) {
                display: block;
                margin-bottom: 3rem;
            }
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 34px;
            margin-bottom: 1.5rem;

            a {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 34px;
                color: $primary;
                text-decoration: underline;
            }
        }

        h3,
        h4 {
            font-weight: 600;
        }

        div {
            margin-bottom: 1.5rem;

            @include responsive(mobile) {
                margin-bottom: 2.5rem;
            }
        }

        .feature_list {
            margin-top: 0.5rem;
            margin-bottom: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
        }

        .checklist {
            margin-inline-start: 2rem;
            list-style-image: url('data:image/svg+xml;utf8, <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.32114 19.642L0 13.158L1.78378 11.3638L6.54054 14.3542L20.2162 0L22 1.19618L8.11622 19.5295C7.92513 19.7814 7.64251 19.9467 7.33039 19.9892C7.01826 20.0317 6.70213 19.9479 6.45135 19.7562C6.40533 19.7212 6.36182 19.6831 6.32114 19.642Z" fill="#7E0772"/></svg>');
            margin-bottom: 2rem;

            li {
                margin-bottom: 1.25rem;
            }
        }
    }

    .course_enroll_section {
        position: relative;
        height: 20dvh;

        @include responsive(mobile) {
            height: max-content;
        }
    }

    .course_instructor {
        position: relative;
        gap: 3rem;
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 34px;
            margin-bottom: 1.25rem;
        }
        h3 {
            font-size: 1.75rem;
            font-weight: 600;
            line-height: 34px;
            margin-bottom: 1.25rem;
        }

        .course_instructor_detail {
            width: 70%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2.5rem;
            margin-bottom: 3rem;
            align-items: flex-end;

            @include responsive(mobile) {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
            }

            .instructor_profile {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                background-color: $primary;
                overflow: hidden;
                h3 {
                    text-align: center;
                    color: $white;
                    font-size: 5rem;
                    margin: 0;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }

            div {
                display: block;
                span {
                    display: flex;
                    width: 100%;
                    height: 4rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: left;
                }
            }
        }

        .course_instructor_bio {
            width: 60%;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 34px;
            text-align: left;
            margin-bottom: 3rem;

            @include responsive(mobile) {
                width: 100%;
            }
        }
    }
}

.course_enroll {
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $white;
    padding: 2.25rem;
    box-shadow: 0px 4px 24px 0px rgba($color: $black, $alpha: 0.4);

    @include responsive(mobile) {
        position: relative;
        padding: 1rem;
    }

    h3 {
        font-size: 1.12rem;
        color: $primary;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    ul {
        margin-inline-start: 0.75rem;
        gap: 2rem;
        margin-bottom: 5rem;

        @include responsive(mobile) {
            margin-inline-start: 0.05rem;
            margin-bottom: 2rem;
        }

        li {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-align: left;
            margin: 2rem 0;

            @include responsive(mobile) {
                margin: 1rem 0;
            }

            span {
                width: 24px;
                height: 24px;
                margin-right: 1rem;

                svg {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}
